@font-face {
    font-family: 'WC Mano Negra Bold';
    src: url('fuentes/WCManoNegraBoldBta.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.nav {
    background-color: #5271ff;
}

    .nav li {
        margin: 0 10px 0 0;
    }

        .nav li a {
            padding: 2px 7px 2px 7px;
            text-decoration: none;
            color: #fff;
        }

            .nav li a:hover {
                color: #5271ff;
                background-color: #fff;
            }

header {
    position: sticky;
    top: 0;
    z-index: 50;
}

.back-violeta {
    background-color: #5271ff;
}

.video {
    text-align: center;
}

    .video video {
        width: 100%;
        max-width: 800px;
    }

    .video img{
        width: 100%;
        max-width: 800px;
    }

.col-5 h1 {
    position: absolute;
    font-family: 'WC Mano Negra Bold',sans-serif !important;
    font-size: 6vw;
}

.col-5 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    text-align: right;
    line-height: 3
}

.sobre-mi {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 3vw;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bloque {
    background: whitesmoke;
    opacity: .7;
    box-shadow: 10px 10px 5px #294df1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bloque h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
}

.bloque p {
    font-style: italic;
    font-size: 1.75vw
}

#habilidades {
    background-color: #5271ff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

    #habilidades div div {
        width: auto;
        margin: auto auto;
    }
        #habilidades div div div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #c6d0ff
        }

#centrar-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto-h2 {
    font-size: 3.2rem;
    margin: auto;
    font-family: 'WC Mano Negra Bold', sans-serif;
}

.formulario__h2 {
    font-size: 3vw;
    text-align: center;
    padding-bottom: 50px;
    color: #5271ff;
    padding-top: 100px;
}


.footer {
    background: #5271ff;
    padding-top:20px;
}

#footer_img {
    width: 6rem;
    height: 6rem;
    background-color: #c6d0ff;
    margin: auto;
    display: block;
}
