*{
box-sizing: border-box;
 margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'WC Mano Negra Bold';
    src: url('fuentes/WCManoNegraBoldBta.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
font-size: 80%; 
min-height: 100vh
}

.video{
    width: 100%
}

.menu { 
    list-style-type: none;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: #5271ff;
}
.menu li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 1.5em;
}
.menu li a{
    padding: 2px 7px 2px 7px;
    text-decoration: none;
    color:#fff;
    border: 1px solid #ccc;
    position: sticky;
}
.menu li a:hover{
    color:#5271ff;
    background-color: #fff;
}

header{
    position: sticky;
    top:0;
    z-index: 50;
}

.back-violeta{
    background-color: #5271ff;
}

.sobre-mi{
    width: 100%; 
    height: 40vw;
    position: relative;
    background: white;
}
.sobre-mi__h1{
    top:20%; 
    position: absolute; 
    font-family:'WC Mano Negra Bold',sans-serif; 
    font-size: 6vw; 
    padding: 0.33% 0 0 2.5vw
}
.sobre-mi__div--div{
    position: absolute; 
    top:20%; 
    left:45%; 
    padding: 0.33% 0 0 0
}
.sobre-mi__p{
    top:20%; 
    padding: 0.33% 2.5vw 0 0;
    right:0;
    position: absolute; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 2.5vw; 
    line-height: 3
}
.sobre-mi__q
{
    text-align: center; 
    font-size:3.5vw; 
    bottom:0; 
    margin-bottom:5vw; 
    margin-left:5vw; 
    margin-right:5vw; 
    background:  white; 
    position:absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.formacion-academica{
    position:relative; 
    height: 80vw; 
    width: 100%; 
    background-color: #5271ff;
}
.formacion-academica__div{
    background: whitesmoke; 
    opacity:.7; 
    box-shadow: 10px 10px 5px #294df1; 
    top:0; 
    position: absolute; 
    margin:5vw; 
    text-align: center; 
    border-color: black;  
    padding: 1vw
}
.formacion-academica__div--h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw
}
.formacion-academica__div--p{
    font-style: italic; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw
}
